body {
    background-color: $body-bg;
    font-family: 'Inter', sans-serif;
}

.btn--outline-bolder {
    border-width: 3px; 
}

.--display-desktop {
    @extend .d-xl-block, .d-lg-block, .d-md-block, .d-none;
}
.--display-mobile {
    @extend .d-xl-none, .d-lg-none, .d-md-none, .d-block;
}

@import './overrides/override.scss';
